@import url("font.css");

/* UNIVERSAL */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  line-height: 1.9 !important;
	vertical-align:baseline;
	font: 16px/1.9em Inter, "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

* {
  color: rgb(41, 41, 41);
	-webkit-tap-highlight-color: rgba(41, 41, 41, 0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main{
  display: flex;
	flex: 1 0 auto;
	position: relative;
	flex-wrap: wrap;
	padding: 0;
	margin:0;
  justify-content: center;
  min-height: 100%;
  overflow: hidden;
}

header {
  z-index: 3;
  min-height: 5em;
}

nav {
  z-index: 4;
  display: none;
}


body::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px var(--color-semiclouds);
}

body::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, .7);
}

::-moz-selection {
  background: var(--color-clouds);
  color: var(--color-redlighter);
}

::-webkit-selection {
  background: var(--color-clouds);
  color: var(--color-redlighter);
}

::selection {
  background: var(--color-clouds);
  color: var(--color-redlighter);
}

/* TYPOGRAPHY */

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.375rem;
}

h4, .h4 {
  font-size: 1.125rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: 0.875rem;
}

p {
  font-weight: 200;
  line-height: 1.8;
}

mark {
  background: #FF6161;
  padding: .2em;
  color: #fff;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

a {
  text-decoration: none;
  outline:0;
}

/* POSITIONING */

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center{
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
}

.text-justify {
  text-align: justify !important;
}

.text-decoration {
  text-decoration: underline;
}

/*  GRID SYSTEM  */

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 0;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.1rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

.hidden-lg {
  display: block;
}

.flex-container {
  width: 100%;
	display: flex;
	flex-flow:row wrap;
}

.flex-container [class^="col"] {
  margin: 0;
}

.col-10-percent {
  width: 10%;
}

.col-20-percent {
  width: 20%;
}

.col-30-percent {
  width: 30%;
}

.col-40-percent {
  width: 40%;
}

.col-50-percent {
  width: 50%;
}

.col-60-percent {
  width: 60%;
}

.col-70-percent {
  width: 70%;
}

.col-80-percent {
  width: 80%;
}

.col-90-percent {
  width: 90%;
}

.col-100-percent {
  width: 100%;
}

@media only screen and (max-width: 45em) {  /* 720px */

   .col-10-percent,
   .col-20-percent,
   .col-30-percent,
   .col-40-percent,
   .col-50-percent,
   .col-60-percent,
   .col-70-percent,
   .col-80-percent,
   .col-90-percent,
   .col-100-percent {
    width: 100%;
  }

}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }

  .hidden-lg {
    display: none;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

table {
    margin-bottom: 30px;
    border-collapse: collapse;
    min-width: 100%;
    max-width:100%;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #ff8383;
    color: white;
}

.table {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: min-content;
  overflow-x: auto;
  /* optional - looks better for small cell values*/
  border-collapse: collapse;
  border-spacing: 0;
  word-wrap: break-word;
}

.table::-webkit-scrollbar
{
	width: 5px;
	height: 5px;
}

.table::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #fafafa;
}
.table::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, .7);
}

.table {
  /* optional - enable iOS momentum scrolling */
  -webkit-overflow-scrolling: touch;  
  /* scrolling shadows */
  background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
              radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;

}

.table th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: #f2f0e6;
}

.table th,
.table td {
  padding: 12px 12px;
  border: 1px solid #d9d7ce;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: rgba(0, 0, 0, .1);}

.table th {
    text-align: left;
    background-color: #ff8383;
    color: #fff;
}